<!-- <app-sign
  [ngClass]="{
    hide: route !== 'signup'
  }"
  [onRouteClick]="onRouteClick"
></app-sign> -->

<!-- <app-sign-in
  [ngClass]="{
    hide: route !== 'signin'
  }"
></app-sign-in> -->

<!-- <div *ngIf="isLoggedin === false">
  <router-outlet></router-outlet>
  
</div> -->

<!-- <div *ngIf="isLoggedin === true"> -->
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet>
  <app-navbar></app-navbar>
  <div class="text-center">
    <h4>{{ user.name }}</h4>
    <p>{{ user.email }}</p>
  </div>
  <div id="map"></div>
</div>

<app-footer></app-footer> -->
<!-- <a
  href="https://www.facebook.com/sharer/sharer.php?u=example.org"
  target="_blank"
>
  Share on Facebook
</a> -->
<!-- <app-navbar></app-navbar>
<div class="text-center">
  <img src="{{ user.photoUrl }}" />
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>

<div id="map"></div>
<app-footer></app-footer> -->

<router-outlet></router-outlet>
<!-- <app-courses></app-courses> -->
<!-- <app-navbar></app-navbar>
<div class="text-center">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>
<div id="map"></div>

<app-footer></app-footer> -->
